img {
  object-fit: cover;
  width:230px;
  height:230px
}

p {
  font-size: 80%;
  margin-left : 2%;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0
}
div.parent {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("https://res.cloudinary.com/dm1cxqdcn/image/upload/v1555075254/LA_CHIPS_COLLAGE_LARGE_WEB_COMING_SOON_l8wy82.png");
  background-size: cover;
}

div.parent div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-family: Montserrat;
  line-height: 100%;
}

h2 {
  font-family: Montserrat;
  line-height: 80%;
}

h3 {
  font-size: 100%;
  line-height: 70%;
  margin-left : 2%;
}

a {
  font-family: Montserrat;
  padding: 10px 25px;
  border-radius: 30px;
  background-color: blue;
  color: white;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
  text-decoration: none;
}

button {
  border : none;
  outline: none;
}

#container {
  width: 50%;
  margin: 0 auto;
  margin-left: 300px;
}

.card {
  background: white;

  padding: 20px;
  margin-bottom: 20px;
  border-radius: 2%;
  box-shadow: 0px 1px 1px black;
}

.text-center {
  text-align : center;
}
.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  padding-left: 0px;
}

.image-circle {
  border-radius: 50%;
}

#sidebar {
  position: fixed;
  width: 100px;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: rgb(67, 81, 95);
}

.button > li {
  display: inline-block;
  padding: 20px 20px 0px;
  font-size: 180%
}

.clear {
  clear: both;
}

#left-side {
  width: 58%;
  float: left;
  min-height: 20%;
  }

#right-side {
  width: 37%;
  float: right;
  min-height: 20%;
  }

.btn-red {
  background-color: #DD5555;
  color: black;
  font-weight: 500;
  padding: 10px;
  border-radius: 4px
}
